
Advent_of_Code.wpr
Advent_of_Code.wpu
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/Advent_of_Code.iml
2021/day_08.py
2021/day_template.py
2021/day_08.py
2022/day_template.py
Advent_of_Code_wing8.wpr
2021/day_08.py
